@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
  src: url("assets/fonts/Roboto/Roboto-Black.ttf") format('truetype');
  src: url("assets/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/Montserrat-Bold.ttf");
  src: url("assets/fonts/Montserrat/Montserrat-Black.ttf");
  src: url("assets/fonts/Montserrat/Montserrat-Medium.ttf");
  src: url("assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  src: url("assets/fonts/Montserrat/Montserrat-Light.ttf");
  src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  width: 100%;
  min-height: 100vh;
  // transform: translate(-50%, -50%);
  // box-shadow: 1px 2px 20px #f3f3f3;
  // border-radius: 10px;
  // border: 1px solid #f1f1f1;
  font-size: 18px;
  display: flex;

  &__department {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
  }

  &__sidebar {
    background-color: #f1f1f1;
    width: 14%;
    min-height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__tasks {
    flex: 1;
    padding: 30px;
    //width: 80%!important;
    //overflow: auto;
  }

  &__nav {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__profile {
    text-decoration: none;
  }

  &__logout {
    text-decoration: none;
  }
}

.button {
  background: #4dd599;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;


  &:hover {
    background: darken($color: #4dd599, $amount: 10%);
  }

  &--grey {
    background: #f4f6f8;
    color: #444444;
    font-size: 14px;

    &:hover {
      background: darken(#f4f6f8, 5%);
    }

    &:active {
      background: darken(#f4f6f8, 3%);
    }
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  width: 60%;
  margin-right: 20px;
  font-size: 14px;

  &-mini {
    width: 30%;
  }

  &-w100 {
    width: 100%;
  }

  &:focus {
    border-color: #dbdbdb;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  text-align: center;
}
